.accordion {
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-bg: #aac4b0;
  margin-top: 50px;
  font-family: serif;
  color: #505f53;
}

.card {
  border: none;
}

.card-body1 {
  height: 100px;
  margin: 20px;
}

.card-body1:hover {
  color: #385a40;
  scale: 1;
}

.card-title:hover {
  scale: 1;
}

.accordion-item button {
  font-family: serif;
  color: #1a2e1f;
}

.accordion-item button:hover {
  color: #1a2e1f;
  background-color: white;
}

.accordion-body {
  font-size: 20px;
  font-weight: 700;
  font-family: serif;

}

.accordion-body p {
  font-size: 20px;
  font-family: serif;


}

/* تعديلات ال containers بتاعت صفحه ال services */
.container1 {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 5%;
  margin-top: 90px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffffff 50%, #505f53 50%);
  text-align: center;
}

.text {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.title-container img {
  width: 260px;
  height: 160px;
  border-radius: 15px;
  font-style: italic;
  padding: 0;
}

.title-container h1 {
  font-size: 2em;
  color: #505f53;
  font-weight: bold;
  margin: 0;
  font-style: italic;

}

.text h2 {
  font-size: 25px;
  margin-top: 25px;
  color: #000000;
  font-weight: bold;
}

.text p {
  color: #000000;
  font-style: italic;
  font-family: serif;
  font-size: 20px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    text-align: center;
  }

  .container2 {
    flex-direction: column;
    text-align: center;
  }
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 5%;
  margin-top: 90px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #505f53 50%, #ffffff 50%);
  text-align: center;
}

.container2 img {
  width: 50%;
  height: 50%;
  border-radius: 30px;
}

